<div class="container">
  <h1>NEW GAME</h1>
  <br>

  <div>
    <ul class="list-group list-group-horizontal">
      <% @letters.each do |letter| %>
        <li class="list-group-item letter-box"><%= letter %></li>
      <% end %>
    </ul>
  </div>
  <br>

  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <label class="form-label">What is the longest word you can find?</label>
    <div class="mb-3 d-flex">
      <input type="text" name="word" class="form-control">
      <input type="submit" class="btn btn-primary" value="Play">
    </div>
  </form>


</div>
